<div class="restaurants">
  <h1>Tous nos restaurants</h1>
  <div class="slicktest">
    <div><%= cl_image_tag("https://s-media-cache-ak0.pinimg.com/736x/1d/39/91/1d3991970310ac29b042f3fa6f1b68c5.jpg", width: 300, height: 200, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("https://s-media-cache-ak0.pinimg.com/736x/1d/39/91/1d3991970310ac29b042f3fa6f1b68c5.jpg", width: 300, height: 200, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("https://s-media-cache-ak0.pinimg.com/736x/1d/39/91/1d3991970310ac29b042f3fa6f1b68c5.jpg", width: 300, height: 200, crop: :fill, class: "picture") %></div>
  </div>
  <%- @restaurants.each do |restaurant| -%>
    <section class="row restaurant">
      <div class="col-sm-4">
        <%= cl_image_tag(restaurant.photo.path, width: 300, height: 200, crop: :fill, class: "picture") %>
      </div>
      <div class="col-sm-8">
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.city %></p>
        <h2><%= link_to(restaurant.name, restaurant_path(restaurant)) %></h2>
      </div>
    </section>
  <% end %>
</div>
