<div class="restaurants">
  <h1>Tous nos restaurants</h1>
  <div class="slicktest">
    <div><%= cl_image_tag("http://www.fermeexotique.fr/site/images/normal/Nos-animaux-Amerique-centrale-et-du-sud54193da0ef68c.JPG", width: 300, height: 225, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("http://img14.deviantart.net/9c7f/i/2016/355/f/f/capybara_by_somberorangedreams-dakov22.jpg", width: 300, height: 225, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("http://1.bp.blogspot.com/-MkMJk5qyiN0/TtJit45ukSI/AAAAAAAACkk/mijC9jIoWtQ/s1600/IMG_3179.JPG", width: 300, height: 225, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("http://www.theonlinezoo.com/img/06/toz06522l.jpg", width: 300, height: 225, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("http://ekladata.com/THJ9KOZfA2uCdPp9IGA7EDHrtbA.jpg", width: 300, height: 225, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("http://4.bp.blogspot.com/-ynHv0AP6zGw/TdG5YsgUcUI/AAAAAAAAFsw/E8e98QxbFT4/s1600/Capybara%252C+Alamada+Park+and+Zoo%252C+Alamogordo.JPG", width: 300, height: 225, crop: :fill, class: "picture") %></div>
    <div><%= cl_image_tag("https://wallpaperscraft.com/image/capybara_muzzle_nose_110612_1600x1200.jpg", width: 300, height: 225, crop: :fill, class: "picture") %></div>
  </div>
  <%- @restaurants.each do |restaurant| -%>
    <section class="row restaurant">
      <div class="col-sm-4">
        <%= cl_image_tag(restaurant.photo.path, width: 300, height: 200, crop: :fill, class: "picture") %>
      </div>
      <div class="col-sm-8">
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.city %></p>
        <h2><%= link_to(restaurant.name, restaurant_path(restaurant)) %></h2>
      </div>
    </section>
  <% end %>
</div>
